<%- include('layout/header') %>
<div class="container">
    <h1>About Us</h1>
    <p>This is a demo application showcasing Express.js features including:</p>
    <ul>
        <li>EJS templating</li>
        <li>Custom middleware</li>
        <li>Static file serving</li>
        <li>Form handling</li>
        <li>File downloads</li>
    </ul>
</div>
<%- include('layout/footer') %>